{% extends '_base.html' %}
{% block subtitle %}
<div class="subcription-info text-center">
    <div class="text-center">
        <a href="login/register" class="btn contact-submit" role="button">Registro</a>
    </div>
    <div class="text-center">
        <a href="login/login" class="btn contact-submit" role="button">Iniciar sesión</a>
    </div>
   
</div>
<!--<div id="countdown" data-wow-delay=".3s" data-date="Mar 12, 2019 10:15:00"></div>-->
<h2 class="subs-title text-center">Accede a nuestra web</h2>
<h2 class="subs-title text-center">¡¡¡Recibe nuestras novedades!!!</h2>
<div class="subcription-info text-center">
    <form class="subscribe_form" action="#" method="post">
        <input required="" value="" placeholder="Introduce tu correo ..." class="email" id="email" name="email" type="email">
        <input class="subscribe" name="email" value="¡Apúntate!" type="submit">
    </form>
    <p class="sub-p">&laquo;Don't know&raquo;.</p>
</div>
{% endblock %}